<app-loader></app-loader>
<mat-toolbar color="primary">
  <span class="app-title">İmtahan portalı</span>
</mat-toolbar>

<div class="header-container">
  <a
    mat-stroked-button
    routerLink="/lessons"
    class="nav-button"
    routerLinkActive="active-link"
  >
    <mat-icon>school</mat-icon> Dərslər
  </a>
  <a
    mat-stroked-button
    routerLink="/students"
    class="nav-button"
    routerLinkActive="active-link"
  >
    <mat-icon>group</mat-icon> Şagirdlər
  </a>
  <a
    mat-stroked-button
    routerLink="/exams"
    class="nav-button"
    routerLinkActive="active-link"
  >
    <mat-icon>grade</mat-icon> İmtahanlar
  </a>
</div>
<div class="main-container">
  <router-outlet></router-outlet>
</div>
