<mat-toolbar color="primary">
  <span class="app-title">İmtahan portalı</span>
</mat-toolbar>

<div class="header-container">
  <button
    mat-raised-button
    color="accent"
    routerLink="/lessons"
    class="nav-button"
  >
    <mat-icon>school</mat-icon> Dərslər
  </button>
  <button
    mat-raised-button
    color="accent"
    routerLink="/exams"
    class="nav-button"
  >
    <mat-icon>grade</mat-icon> İmtahanlar
  </button>
  <button
    mat-raised-button
    color="accent"
    routerLink="/students"
    class="nav-button"
  >
    <mat-icon>group</mat-icon> Şagirdlər
  </button>
</div>
<div class="main-container">
  <router-outlet></router-outlet>
</div>
