<app-dialog-header
  title="Yeni Dərs  "
  class="mb-20"
  buttonText="Bağla"
  (closeEmitter)="onCloseClicked()"
></app-dialog-header>

<form [formGroup]="addLessonForm" class="row mt-20">
  <mat-form-field class="col-4 mb-10">
    <mat-label>Dərsin Kodu</mat-label>
    <input matInput formControlName="code" required />
    <mat-error *ngIf="addLessonForm.get('code').hasError('required')"
      >Dərsin kodu tələb olunur</mat-error
    >
  </mat-form-field>

  <mat-form-field class="col-4 mb-10">
    <mat-label>Dərsin Adı</mat-label>
    <input matInput formControlName="name" required />
    <mat-error *ngIf="addLessonForm.get('name').hasError('required')"
      >Dərsin adı tələb olunur</mat-error
    >
  </mat-form-field>

  <mat-form-field class="col-4 mb-10">
    <mat-label>Sinif</mat-label>
    <input matInput formControlName="class" required />
    <mat-error *ngIf="addLessonForm.get('class').hasError('required')"
      >Sinif tələb olunur</mat-error
    >
    <mat-error *ngIf="addLessonForm.get('class').hasError('pattern')"
      >Sinif yalnız rəqəmlərdən ibarət olmalıdır</mat-error
    >
  </mat-form-field>

  <mat-form-field class="col-4 mb-10">
    <mat-label>Müəllimin Adı</mat-label>
    <input matInput formControlName="teacherFirstName" required />
    <mat-error
      *ngIf="addLessonForm.get('teacherFirstName').hasError('required')"
      >Müəllimin adı tələb olunur</mat-error
    >
  </mat-form-field>

  <mat-form-field class="col-4 mb-10">
    <mat-label>Müəllimin Soyadı</mat-label>
    <input matInput formControlName="teacherLastName" required />
    <mat-error *ngIf="addLessonForm.get('teacherLastName').hasError('required')"
      >Müəllimin soyadı tələb olunur</mat-error
    >
  </mat-form-field>
</form>

<div class="mt-20">
  <button
    mat-raised-button
    color="primary"
    class="mr-8"
    (click)="onSubmit()"
    [disabled]="addLessonForm.invalid"
  >
    Əlavə et
  </button>
  <button mat-raised-button color="warn" (click)="onCloseClicked()">
    İmtina et
  </button>
</div>
