<app-dialog-header
  title="Yeni Şagird Əlavə Et"
  class="mb-20"
  buttonText="Bağla"
  (closeEmitter)="onCloseClicked()"
></app-dialog-header>

<form [formGroup]="addStudentForm" class="row">
  <mat-form-field class="col-4">
    <mat-label>Şagirdin Adı</mat-label>
    <input matInput formControlName="name" required />
    <mat-error *ngIf="addStudentForm.get('name').hasError('required')"
      >Şagirdin adı tələb olunur</mat-error
    >
  </mat-form-field>
  <mat-form-field class="col-4">
    <mat-label>Şagirdin Soyadı</mat-label>
    <input matInput formControlName="lastName" required />
    <mat-error *ngIf="addStudentForm.get('lastName').hasError('required')"
      >Şagirdin soyadı tələb olunur</mat-error
    >
  </mat-form-field>

  <mat-form-field class="col-4">
    <mat-label>Sinif</mat-label>
    <input matInput formControlName="class" required />
    <mat-error *ngIf="addStudentForm.get('class').hasError('required')"
      >Sinif tələb olunur</mat-error
    >
    <mat-error *ngIf="addStudentForm.get('class').hasError('pattern')"
      >Sinif yalnız max 2 rəqəmlərdən ibarət olmalıdır</mat-error
    >
  </mat-form-field>

  <mat-form-field class="col-4">
    <mat-label>Nömrə</mat-label>
    <input matInput formControlName="number" required />
    <mat-error *ngIf="addStudentForm.get('number').hasError('required')"
      >Nömrə tələb olunur</mat-error
    >
    <mat-error *ngIf="addStudentForm.get('number').hasError('pattern')"
      >Nömrə yalnız rəqəmlərdən ibarət olmalıdır. Min 1, max 5 rəqəm</mat-error
    >
  </mat-form-field>
</form>

<div class="mt-30">
  <button
    mat-raised-button
    class="mr-8"
    color="primary"
    (click)="onSubmit()"
    [disabled]="addStudentForm.invalid"
  >
    Əlavə et
  </button>
  <button mat-raised-button color="warn" (click)="onCloseClicked()">
    İmtina et
  </button>
</div>
